@import "tailwindcss";

@font-face {
  font-family: "Funnel Sans", sans-serif;
  src: url("./assets/fonts/Funnel_Sans/FunnelSans-Italic-VariableFont_wght.ttf")
      format("ttf"),
    url("./assets/fonts/Funnel_Sans/FunnelSans-VariableFont_wght.ttf")
      format("ttf");
  font-optical-sizing: auto;
}

:root {
  --background: #432323;
  --font-color: #e0d9d9;
  --accent-color: #5a9690;
  --button-color: #2f5755;

  --funnel-font: "Funnel Sans", sans-serif;

  --text-size: 16px;
  --heading-size: calc(var(--text-size) * 2);

  --default-padding: 8px;
  --default-border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  color: var(--font-color);
  font-size: var(--text-size);
  font-family: var(--funnel-font);
}

button {
  background-color: var(--button-color);
  color: var(--font-color);
  border: none;
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  cursor: pointer;
  font-family: var(--funnel-font);
}

button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
  transform: scale(1.05);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--funnel-font);
  margin-bottom: var(--default-padding);
}
