@import "tailwindcss";

@font-face {
  font-family: "Funnel Sans", sans-serif;
  src: url("./assets/fonts/Funnel_Sans/FunnelSans-Italic-VariableFont_wght.ttf")
      format("ttf"),
    url("./assets/fonts/Funnel_Sans/FunnelSans-VariableFont_wght.ttf")
      format("ttf");
  font-optical-sizing: auto;
}

:root {
  --dark-color: #3e362e;
  --light-color: #faf9f0;

  --font-color: #e0d9d9;
  --accent-color: #5a9690;
  --button-color: #2f5755;

  --funnel-font: "Funnel Sans", sans-serif;
  --text-size: 16px;

  --heading-size: calc(var(--text-size) * 2);
  --default-padding: 8px;
  --default-border-radius: 4px;

  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-color);
    --foreground: var(--light-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--light-color);
    --foreground: var(--dark-color);
  }
}

html,
body {
  font-size: var(--text-size);
  font-family: var(--funnel-font);
}

.button {
  background-color: var(--button-color);
  color: var(--font-color);
  border: none;
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  cursor: pointer;
  font-family: var(--funnel-font);
  width: 80px;
}

.button--fluid{
  width: 100%;
}

.button--disabled{
  background-color: var(--color-gray-500);
  cursor: not-allowed;
}


.button:not(:disabled):hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--funnel-font);
  margin-bottom: var(--default-padding);
}

input {
  outline: none;
  border-color: var(--color-gray-400);
  border-width: 2px;
}

input:focus {
  border-color: var(--color-black);
}

.menu-bar {
  background-color: var(--button-color);
  color: var(--font-color);
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
}

.editor-container {
  max-height: calc(100dvh - 80px);
  height: calc(100vh - 80px);
  width: 100%;
}

.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-500) transparent;
}

.input-formfield {
  border-radius: var(--default-border-radius);
  border: 2px solid var(--color-gray-400);
  outline: none;
  width: 100%;
  height: 40px;
  font-size: calc(var(--text-size) * 1.2);
  justify-self: center;
  align-self: center;
}

